[submodule "cc/thirdparty/benchmark"]
	path = cc/thirdparty/benchmark
	url = git@github.com:google/benchmark.git
[submodule "cc/thirdparty/glog"]
	path = cc/thirdparty/glog
	url = git@github.com:google/glog.git
[submodule "cc/thirdparty/googletest"]
	path = cc/thirdparty/googletest
	url = git@github.com:google/googletest.git
[submodule "cc/thirdparty/robin-hood-hashing"]
	path = cc/thirdparty/robin-hood-hashing
	url = git@github.com:martinus/robin-hood-hashing.git
[submodule "cc/thirdparty/abseil-cpp"]
	path = cc/thirdparty/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
[submodule "c/minilisp"]
	path = c/minilisp
	url = git@github.com:rui314/minilisp.git
[submodule "c/chibicc"]
	path = c/chibicc
	url = git@github.com:rui314/chibicc.git
[submodule "cc/thirdparty/gperftools"]
	path = cc/thirdparty/gperftools
	url = git@github.com:gperftools/gperftools.git
[submodule "cc/thirdparty/concurrentqueue"]
	path = cc/thirdparty/concurrentqueue
	url = git@github.com:cameron314/concurrentqueue.git
[submodule "cc/thirdparty/x86-simd-sort"]
	path = cc/thirdparty/x86-simd-sort
	url = git@github.com:intel/x86-simd-sort.git
[submodule "cc/thirdparty/clang_combined_time_trace"]
	path = cc/thirdparty/clang_combined_time_trace
	url = git@github.com:woodroof/clang_combined_time_trace.git
[submodule "cc/thirdparty/ClangBuildAnalyzer"]
	path = cc/thirdparty/ClangBuildAnalyzer
	url = git@github.com:aras-p/ClangBuildAnalyzer.git
[submodule "cc/thirdparty/C-Plus-Plus"]
	path = cc/thirdparty/C-Plus-Plus
	url = git@github.com:TheAlgorithms/C-Plus-Plus.git
[submodule "cc/thirdparty/wren"]
	path = cc/thirdparty/wren
	url = git@github.com:wren-lang/wren.git
[submodule "cc/thirdparty/libcoro"]
	path = cc/thirdparty/libcoro
	url = git@github.com:jbaldwin/libcoro.git
[submodule "cc/thirdparty/sqlite"]
	path = cc/thirdparty/sqlite
	url = git@github.com:sqlite/sqlite.git
[submodule "cc/thirdparty/hardware-effects"]
	path = cc/thirdparty/hardware-effects
	url = git@github.com:Kobzol/hardware-effects.git
[submodule "cc/thirdparty/liburing4cpp"]
	path = cc/thirdparty/liburing4cpp
	url = git@github.com:CarterLi/liburing4cpp.git
